<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chromeinfotech.servicewithplaymusic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.chromeinfotech.Ui.servicewithplaymusic.MainServiceActivity" />

        <service
            android:name="com.chromeinfotech.Ui.servicewithplaymusic.Myservice"
            android:description="@string/myservice"
            android:enabled="true"
            android:label="My service" />

        <activity android:name="com.chromeinfotech.Ui.MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chromeinfotech.Ui.Bindservice.MyBindServiceActivity" />

        <service
            android:name="com.chromeinfotech.Ui.Bindservice.MyBindservice"
            android:description="@string/MyBindservice"
            android:exported="false"
            android:label="MyBindservice" />
        <service
            android:name="com.chromeinfotech.Ui.Intentservice.MyIntentService"
            android:description="@string/MyIntentservice"
            android:exported="false"
            android:label="MyBindservice" />

        <activity android:name="com.chromeinfotech.Ui.Intentservice.MyIntentServiceActivity"></activity>
    </application>

</manifest>